*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
:root{
--White--: hsl(0, 0%, 100%);
--Light-gray: hsl(212, 45%, 89%);
--Grayish-blue: hsl(220, 15%, 55%);
--Dark-blue: hsl(218, 44%, 22%);
}
body{
    background-color:var(--Grayish-blue);
    position: relative;
}
.main-container{
    position: absolute;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-flow: column;
     left:600px;
    top:160px; 
    border:1px solid var(--White--);
    width:300px;
    height:440px;
    background-color: var(--White--);
    border-radius: 30px;
}
.qr-code{
    background-color:blue;
    height:200px;
    width:270px;
    position: relative;
    border-radius: 20px;
    margin-top:-2px;
    opacity: 0.7;
    line-height:90px;
}
i{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    left:70px;
    top:40px;
    font-size:120px;
    background:var(--White--);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}
h3{
    font-size: 20px;
    color:var(--Dark-blue);
    text-align: center;
    margin:30px;
    font-weight: 600;
}
p{
    color:var(--Grayish-blue);
    font-size: 15px;
    font-weight: 600;
    font-family: Outfit;
    text-align: center;
    align-items: center;
    margin:0px 30px 40px 30px;
}
